<div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h2 class="text-left">Animal Details</h2>

    <div>
        <div class="row no-padding">
            <form class="form form-horizontal producer-form col-xs-12 col-sm-6" role="form" name="animalForm">
                <div class="text-left">
                    <label>RFID:</label>
                    <input ng-model="vm.buy_animal.tag_no"
                           ng-required="true"
                           ng-pattern="/^[a-zA-Z0-9_]{8}$/"
                           class="form-control"
                           placeholder="RFID"
                           type="text"
                           name="tag_no"/>

                    <p class="alert-danger"
                       ng-show="(!animalForm.tag_no.$valid && animalForm.tag_no.$dirty)">
                        * RFID needs to be 8 alphanumerical characters long
                    </p>
                </div>

                <div class="text-left">
                    <label>Weight:</label>
                    <input ng-model="vm.buy_animal.weight"
                           ng-required="true"
                           ng-pattern="/^\d{0,3}(\.\d{0,2}){0,1}$/"
                           class="form-control"
                           placeholder="Weight"
                           type="text"
                           name="weight"/>

                    <p class="alert-danger"
                       ng-show="(!animalForm.weight.$valid && animalForm.weight.$dirty)">
                        * Weight should not exceed 3 digits and 2 decimals
                    </p>
                </div>
            </form>
        </div>

        <!--Actions-->
        <div class="row">
            <div class="col-xs-12 margin-top20">
                <!--Pay-->
                <div class="col-sm-3 col-xs-12 no-padding">
                    <button class="btn-wide pointer btn-default" ng-disabled="!animalForm.$valid" ng-click="vm.goto('buy.grading')">
                        <div class="btn-content">
                            <div class="display_table">
                                <div class="table-cell">Live Grading</div>
                            </div>
                        </div>
                    </button>
                </div>

                <div class="col-sm-3 col-xs-12 col-sm-offset-1  no-padding">
                    <button class="btn-wide pointer btn-default" ng-click="vm.goto('buy.pay')"
                            ng-disabled="!vm.buy_animal_list || !vm.buy_animal_list.length">
                        <div class="btn-content">
                            <div class="display_table">
                                <div class="table-cell">Pay Producer</div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <div class="row no-padding text-left margin-top20">
            <div class="col-xs-12 text500">ID Name: {{vm.producer.id_name}}</div>
            <div class="col-xs-12 text500">Producer Number: {{vm.producer.producer_no}}</div>
            <div class="col-xs-12 text500" ng-if="vm.producer.vat_name">VAT Name: {{vm.producer.vat_name}}</div>
            <div class="col-xs-12 text500" ng-if="vm.producer.vat_no">VAT Number: {{vm.producer.vat_no}}</div>
        </div>

        <div class="row no-padding text-left margin-top20">
            <div class="col-xs-8">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Tag No</th>
                        <th>Weight</th>
                        <th>Grade</th>
                        <th>MOC</th>
                        <th>Agreed Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="animal in vm.buy_animal_list | orderBy: '-tag_no'">
                        <td class="text-left">{{animal.tag_no}}</td>
                        <td class="text-left text-capitalize">{{animal.weight}}</td>
                        <td class="text-left text-capitalize">{{animal.teeth}}</td>
                        <td class="text-left text-capitalize">{{animal.on_bip ? 'Yes' : 'No'}}</td>
                        <td class="text-left">{{animal.price | currency:$:2}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>