<div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="col-xs-12 col-sm-4 padding-left0">
        <h1 class="text-left">Stunbox</h1>

        <div>
            <h6 class="text-left">Body number: {{vm.new_animal.body_counter}}</h6>
            <form class="form form-horizontal" role="form" name="animalForm">
                <!--RFID-->
                <div class="margin-bottom10 text-left">
                    <label>RFID:</label>
                    <input ng-model="vm.new_animal.rfid"
                           ng-required="true"
                           ng-pattern="/^[a-zA-Z0-9_]{0,8}$/"
                           class="form-control"
                           placeholder="RFID"
                           type="text"
                           ng-focus="vm.focusTo('rfid')"
                           name="rfid"/>

                    <p class="alert-danger"
                       ng-show="(!animalForm.rfid.$valid || vm.new_animal.rfid.length < 8)">
                        * RFID needs to be 8 characters long
                    </p>
                </div>

                <!--WEIGHT-->
                <div class="margin-bottom10 text-left">
                    <label>Weight:</label>
                    <input ng-model="vm.new_animal.weight"
                           ng-required="true"
                           ng-focus="vm.focusTo('weight')"
                           ng-pattern="/^\d{0,3}(\.\d{0,2}){0,1}$/"
                           class="form-control"
                           placeholder="Weight"
                           type="text"
                           name="weight"/>

                    <p class="alert-danger"
                       ng-show="(!animalForm.weight.$valid && animalForm.weight.$dirty)">
                        * Weight should not exceed 3 digits and 2 decimals
                    </p>
                </div>
            </form>
        </div>

        <div class="col-xs-12 no-padding">
            <button class="btn-wide pointer btn-default pull-left"
                    ng-click="vm.addAnimal()"
                    ng-disabled="animalForm.$invalid || vm.new_animal.rfid.length < 8">
                <div class="btn-content">
                    <div class="display_table">
                        <div class="table-cell">Next</div>
                    </div>
                </div>
            </button>

            <button class="btn-wide pointer btn-default pull-left"
                    ng-show="!vm.show_manual_input"
                    ng-click="vm.show_manual_input = true">
                <div class="btn-content">
                    <div class="display_table">
                        <div class="table-cell">Manual Input</div>
                    </div>
                </div>
            </button>
        </div>
    </div>

    <!--Touch-pad input-->
    <div class="col-sm-8 no-padding" ng-show="vm.show_manual_input">
        <animal-weight
                alpha-numeric="true"
                result="vm.new_animal[vm.edit_field.name]"
                valid="animalForm[vm.edit_field.name].$valid"
                changed="animalForm[vm.edit_field.name].$dirty"
                regex="{{vm.edit_field.regex}}">
        </animal-weight>
    </div>
</div>


