<div class="col-xs-12 no-padding">
    <div class="grading-box">
        <div class="legend-title">Gender</div>
        <div class="col-sm-3 col-xs-6 no-padding" ng-repeat="b in buttons | orderBy: 'position'">
            <div class="btn-default btn-teeth pointer noselect" ng-click="addValue(b)" ng-class="{'btn-success': b.isSelected}">
                <div class="btn-content">
                    <div class="display_table">
                        <div class="table-cell">{{b['text']}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>